html, body
  margin: 0
  padding: 0
  background: gray

.container
  width: 960px
  margin: 0 auto
  opacity: .5
  transform: rotate(10deg) translateY(200px)

h1
  transition: all 250ms 

  &:hover 
    color: blue
    transform: rotate(10deg)
